altair==4.1.0bokeh==2.3.3dowhy @ git+https://github.com/microsoft/dowhy.git@0f554f3941cce9c8c0c6718b6b26a44bb095fc32econml==0.12.0gensim==3.6.0geopandas==0.10.2ipython==5.5.0jupyter==1.0.0matplotlib==3.2.2notebook==5.3.1numpy==1.19.5pandas==1.1.5plotly==4.4.1plotnine==0.6.0
python-dateutil==2.8.2rpy2==3.4.5scipy==1.4.1seaborn==0.11.2shap==0.39.0Shapely==1.8.0sklearn==0.0stargazer==0.0.5statsmodels==0.10.2tweepy==3.10.0